<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791172631977-lvsth23muilshhsgb69bdr4ubhfn294b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791172631977-lvsth23muilshhsgb69bdr4ubhfn294b</string>
	<key>API_KEY</key>
	<string>AIzaSyBChestntsSJ3YYWFsgIifRrJU0rYymMG4</string>
	<key>GCM_SENDER_ID</key>
	<string>791172631977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.template.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>lucky-functions</string>
	<key>STORAGE_BUCKET</key>
	<string>lucky-functions.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791172631977:ios:ed6a39398a63d440c0c8b8</string>
</dict>
</plist>