<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCssSav2O5YcMcCEGLai5MaA7vClmAoK9c</string>
	<key>GCM_SENDER_ID</key>
	<string>354395306946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cotr.flutterfast_offline.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-fast</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-fast.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354395306946:ios:f3f543793ed95ca436345b</string>
</dict>
</plist>